doctype 5
html
    head
        title= "TheVault - " + title
        link(rel='stylesheet', href='/stylesheets/#{style}.css')
    body
        #header
            if user
                div.currentUser= "User: " + user
            h1= title

        if messages
            if messages.error
                each message in messages.error
                    p.flash(class='error')= message
                    
            if messages.info
                each message in messages.info
                    p.flash(class='info')= message

        block content